<p>landing works!</p>

<a routerLink = "/loginform" > click here to go on loginform.. </a><br>
<button routerLink = "/studentLogin" >click here..!!!! </button> <br>
 <a href="/loginform"> click </a>   <!--never use this in angular application,application got refreshed here -->
<br>
<button (click)="routing('poonam')">click to navigate</button><br>

<button routerLink="/adminLogin/adminSign">adminLogin module</button><br>
<button (click)="lazyLoadingRouting()">click to navigate to adminLogin module</button><br>
<button routerLink="/adminsignup">adminSignUpmodule</button><br>
<button routerLink="/adminLogin/adminSignIn">Reactive form</button><br>
<button routerLink="/directives">Directives</button><br>
<button routerLink="/adminLogin/parent">parent component</button>
<button routerLink="/adminLogin/subject">subject component</button><br>
<button routerLink="/API">API Module</button><br>
