<p>adminsignin works!</p>
<input type="text" [(ngModel)]="myFavourateColor">
<div>
    <form [formGroup]="studentDataForm!" class="reactive-form-container" >
        <label for="">Name</label><br>
        <input type="text" formControlName="studentName" ><br><br>

        <label for="">Mobile No</label><br>
        <input type="text" formControlName="mobNo"><br><br>

        <label for="" >Gender</label><br>
        <input type="radio" formControlName="gender">Male<br>
        <input type="radio" formControlName="gender">Female<br><br>

        <label for="">Hobbies</label><br>
        <input type="checkbox" formControlName="painting">Painting<br>
        <input type="checkbox"  formControlName="dancing">Dancing<br>
        <input type="checkbox"  formControlName="reading">Reading<br>
        <input type="checkbox"  formControlName="outing">Outing<br>
        <button (click)="submitFormData()">Submit</button>
    </form>
</div>