<p>adminsignin works!</p>
<input type="text" [(ngModel)]="myFavourateColor">
<div>
    <form [formGroup]="studentDataForm!" class="reactive-form-container" >
        <label for="">Name</label><br>
        <input type="text" appNamevalidation  formControlName="studentName"><br>
        
        <span *ngIf="!studentDataForm.get('studentName')?.touched">Enter you Name</span>
        
        <span class="error-msg" *ngIf="studentDataForm.get('studentName')?.touched && 
        studentDataForm.get('studentName')?.errors?.['required']  ">Name is reuired</span>
        <span class="error-msg" *ngIf="studentDataForm.get('studentName')?.errors?.['isValid']">Name is invalid</span>
        <span class="error-msg" *ngIf="studentDataForm.get('studentName')?.errors?.['whiteSpaces'] && studentDataForm.get('studentName')?.touched">Name is invalid....</span>
        <span class="error-msg" *ngIf="studentDataForm.get('studentName')?.touched && 
       
        studentDataForm.get('studentName')?.errors?.['maxlength']">maxlength for name allowed is 5</span>
        <br>

        <label>Mobile No</label><br>
        <input type="text" formControlName="mobNo" appNumbersonly   maxlength="10"><br><br>

        <label>City</label><br>
        <input type="text" formControlName="city" maxlength="50"><br><br>

        <label for="" >Gender</label><br>
        <input type="radio" formControlName="gender" value="male">Male<br>
        <input type="radio" formControlName="gender" value="female">Female<br><br>

        <label for="">Hobbies</label><br>
        <input type="checkbox" formControlName="painting" value="painting">Painting<br>
        <input type="checkbox"  formControlName="dancing">Dancing<br>
        <input type="checkbox"  formControlName="reading">Reading<br>
        <input type="checkbox"  formControlName="outing">Outing<br>
        <input type="checkbox" formControlName="temsAndCond">Please accept terms and conditions <br>
        <input type="date" formControlName="dob">

        <button [disabled]="!studentDataForm.valid" (click)="submitFormData()">Submit</button>
    </form>
</div>
<p>{{ fName | uppercase}}</p>
<h2>{{today | date:'fullDate'}}</h2>
<h2>{{today | date:"MM/dd/yy"}}</h2>

<p>{{num | currency1}}</p>