.heading{
text-align: center;
color:red;
font-size: 30px;
}
.form-container{
    height: 400px;
    width: 400px;
    border: 2px solid red;
    background-color: bisque;
    text-align: center;
    margin: auto;
}
.error-msg{
    color: red;
}