<h2 class="heading">SignUp form</h2>
<div class="form-container">
    <form #signUp="ngForm" autocomplete="off">
        <label>Name</label><br>
        <input type="text" ngModel name="name"><br>
        <label>Mobile No</label><br>
        <input type="text" ngModel name="mob"><br>
        <label>Create Password</label><br>
        <input type="text" ngModel name="pass"><br><br><br>
        <!-- <input type="submit"> -->
        <button  (click)="submit(signUp.value)">submit</button>
    </form>
</div>
