<p>loginform works!</p>
<h1 id="kkk">aaaaaaaaaaaaaaa</h1>
<input type="text" #inpBox (keyup)="keyUpEvent($event,inpBox)">
<br>
<!--  interpolation  -->
<!--syntax: {{}} , {{property/function()}} interpolation-->
<h1>{{car}}</h1>
{{car}} 
{{ getData(20)}}

<!-- we can also do arithmatic operations with interpolation -->
<h1>{{num == 200}}</h1>
 {{num == 200}}
{{booleanProperty}}

<!-- we can not assign value with interpolation-->
<!-- {{num = 300}}  -->
<!-- we can not use type of property with interpolation -->
<!-- {{typeof(num)}} -->
<!--we can not inc/dcr operators with interpolation  -->
<!-- {{num--}} -->
<!-- obj  interpolation -->
{{student.name}}
<!-- array  interpolation -->
{{items}} <br>
{{items[2]}}

<!--One way DB techniques : 1.string Interpollation{{}} 2. property binding []-->
<form>
name1: <input type="text" value = "poonam">
name2 : <input type="text" [value] = "myName">  <!-- propertyBind: [attribute] -->
name3: <input type="text" value = {{myName}}>  <!-- Interpollation: {{property}} -->
name : <input type="text" [value] = "myName" disabled >
name4: <input type="text"  [disabled] = "disableFlag"> <!--propertyBinding can handle disable attribute -->
name5: <input type="text" disabled = {{disableFlag}}> <!--Interpollation can not handle disable attribute -->
</form>