.main  {
background-image: url("~src/assets/img/pexels-pixabay-56866.jpg");
background-repeat: no-repeat;
background-size:cover;
height: 45rem;
// width: 100%;
}
.para{
    color: rgb(51, 255, 0);
}
.para2{
    color: rgb(255, 0, 157);
}
.para3{
    color: red
}
